.topnav {
background-color: #d4b37c;
overflow:hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffebca;
  color: black;
}

.topnav a.active {
  background-color: #cae7ff;
  color: white;
}

body {
background-color: #EDC88B;
font-family: sans-serif;
}

h1 {
text-align: center;
font-family: serif;
font-weight: normal;
text-transformation: uppercase;
border-bottom: 5px solid #FF9B51;
margin-top: 30px;
}

h2 {
text-align: center;
color: #E08353;
font-size; 1em;
border-bottom: 5px solid #FF9B51;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  text-align: center;
  font-style: normal;
  font-size: 20px;
}

li {
  float: left;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
}
